
@{
    ViewBag.Title = "RegistrationSuccessful";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<h1 style="text-align: center;">Registration was successful</h1>

<h2 style="text-align: center;">                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { role = "form" }))
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <input type="submit" value="Sign In" class="center-logout" />
                                                                }</h2>

<style>
    .center-logout {
        margin: 0 auto;
        width: 250px;
    }
</style>